<section class="kaomoji-content">
    <div class="container">
        <div class="row">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <div class="kmj">
                        <span class="kmj-content">(づ￣ ³￣)づ</span>
                        <button class="kmj-btn btn btn-copy btn-primary" data-clipboard-text="づ￣ ³￣)づ">Copy</button>
                    </div>
                </li>

                <li class="list-inline-item">Item 2</li>
                <li class="list-inline-item">Item 3</li>
                <li class="list-inline-item">Item 4</li>
                <li class="list-inline-item">Item 5</li>
              </ul>
        </div>
        

    </div>



        
</section><!-- End Clients Section -->